img {
    width: 50px;
    height: 50px;
}

.active {
    font-weight: 900;
}

.follow button {
    text-decoration: none;
    background: rgb(50, 42, 179);
    background: linear-gradient(90deg, rgba(50, 42, 179, 1) 0%, rgba(76, 76, 209, 1) 0%, rgba(5, 184, 221, 1) 100%);
    border: 0;
    padding: 5px 15px;
    color: white;
    font-weight: 900;
    border-radius: 5px;
}

.info {
    display: flex;
    align-items: center;
}

.info p {
    margin-left: 5px;
}

.user {
    padding: 10px;
    margin-bottom: 10px;
    width: 20%;
    border: 1px solid rgb(50,42,179);
    border-radius: 5px;
}

.status p {
    margin-top: 0;
}

button:disabled {
    background: rgb(50,42,179);
    background: linear-gradient(90deg, rgba(50,42,179,1) 0%, rgba(171,171,173,1) 0%, rgba(132,195,208,1) 100%);
}