.app-wrapper {
    display: grid;
    width: 1200px;
    margin: 0 auto;
    grid-template-areas:
    "header header"
    "nav content";
    grid-template-rows: 140px 1fr;
    grid-template-columns: 2fr 10fr;
    border: 1px solid rgb(50,42,179);
    border-radius: 5px;
    height: 2000px;
}

.app-wrapper-content {
    padding-left: 10px;
}

